// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.
[data-engrid-theme="npca"] {
  --color-green: #06734e;
  --color-light-green: #e2e98b;
  --color-dark-gray: #494949;
  --color-light-gray: #999999;

  --color_primary: var(--color-green);

  --default_color: var(--color_dark-gray);
  --default_font-size: 16px;
  --root_font-size: 16px;
  --default_font-family: "Gotham", sans-serif;
  --submit__button_color: #ffffff;
  --submit__button_background-color: #045237;
  --submit__button_font-size: 1.5rem;
  --submit__button_font-weight: 700;
  --button_background-color: #7f7266;
  --button_background-color_hover: var(--color-green);
  --button_border-radius: 5px;
  --recurring-payment__button_background-color_checked: var(--color-green);
  --recurring-payment__button_border-color_checked: var(--color-green);
  --donation-amount__button_background-color_checked: var(--color-green);
  --donation-amount__button_border-color_checked: var(--color-green);
  --recurring-frequency__button_background-color_checked: var(--color-green);
  --recurring-frequency__button_border-color_checked: var(--color-green);
  --engrid__page_background-color: #ffffff;
  --pagebuilder__background-color: #ffffff;
  --donation-amount__button_count: 3;
  --engrid__body-headerOutside_background-color: #ffffff;
  --engrid__content-footer_background-color: #ffffff;

  --engrid__body_box-shadow: none;

  // TYPOGRAPHY DEFAULT
  // --default_font-family: var(--native-fonts__sans-serif);
  // --default_color: initial;
  // --default_font-size: var(--root_font-size);
  // --default_font-weight: initial;
  --default_line-height: 1.4;

  // TYPOGRAPHY H1
  --h1_font-family: var(--default_font-family);
  --h1_color: var(--default_color);
  --h1_font-size: 3.125rem;
  --h1_font-weight: 700;
  --h1_line-height: 1.1;

  // TYPOGRAPHY H2
  --h2_font-family: var(--default_font-family);
  --h2_color: var(--default_color);
  --h2_font-size: 1.375rem;
  --h2_font-weight: 700;
  --h2_line-height: 1.35;

  // TYPOGRAPHY H3
  --h3_font-family: var(--default_font-family);
  --h3_color: var(--default_color);
  --h3_font-size: 1.125rem;
  --h3_font-weight: 700;
  --h3_line-height: 1.55;

  // TYPOGRAPHY H4
  --h4_font-family: var(--default_font-family);
  --h4_color: var(--color-light-gray);
  --h4_font-size: 1rem;
  --h4_font-weight: 700;
  --h4_line-height: 1.75;

  // TYPOGRAPHY H5
  --h5_font-family: var(--default_font-family);
  --h5_color: var(--color-light-gray);
  --h5_font-size: 0.875rem;
  --h5_font-weight: 700;
  --h5_line-height: 1.42;
  --h5_text-transform: uppercase;

  // TYPOGRAPHY P
  // --p_font-family: var(--default_font-family);
  // --p_color: initial;
  // --p_font-size: var(--root_font-size);
  // --p_font-weight: initial;
  // --p_line-height: initial;

  // TYPOGRAPHY A
  // --a_font-family: var(--default_font-family);
  --a_color: var(--color-green);
  --a_text-decoration: none;
  --a_text-decoration_hover: underline;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  // --a_color_hover: var(--a_color);
  // --a_text-decoration_hover: initial;

  // TYPOGRAPHY INPUT
  // --input_font-family: var(--default_font-family);
  // --input_color: #000000;
  // --input_font-size: var(--root_font-size);
  // --input_font-weight: initial;
  // --input_line-height: initial;
  // --input_background-color: #fafafa;
  // --input_border-width: 1px;
  // --input_border-color: #dfdfe1;
  // --input_border-radius: 6px;
  // --input_placeholder-color: var(--color_light-gray);
  // --input_box-shadow: inset 0 2px 2px -1px rgba(74, 74, 104, 0.1);

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  // --input_color_hover: var(--input_color);
  // --input_background-color_hover: var(--input_background-color);
  // --input_border-color_hover: #767677;
  // --input_border-bottom-color_hover: var(--input_border-color_hover);
  // --input_box-shadow_hover: --input_box-shadow;

  // TYPOGRAPHY BUTTON
  // --button_font-family: var(--default_font-family);
  // --button_color: var(--color_white);
  // --button_font-size: var(--root_font-size);
  // --button_font-weight: initial;
  // --button_line-height: initial;
  // --button_background-color: #535b61;
  // --button_border-width: 1px;
  // --button_border-color: var(--color_black);
  // --button_border-radius: 6px;

  // TYPOGRAPHY BUTTON:HOVER
  // --button_color_hover: var(--button_color);
  // --button_background-color_hover: var(--color_black);
  // --button_border-color_hover: var(--button_background-color_hover);

  // TYPOGRAPHY BUTTON:SELECTED
  // --button_color_checked: var(--button_color_hover);
  // --button_background-color_checked: var(--button_background-color_hover);
  // --button_border-color_checked: var(--button_border-color_hover);

  // DONATION PAGE
  // --give-monthly-donation-amount-appended-label: "/mo";
  // --give-annual-donation-amount-appended-label: "/yr";
  // --recurring-frequency__button_count: 3;
  &[data-engrid-visible-frequency="4"] {
    --recurring-frequency__button_count: 4;
  }
  &[data-engrid-visible-frequency="3"] {
    --recurring-frequency__button_count: 3;
  }
  &[data-engrid-visible-frequency="2"] {
    --recurring-frequency__button_count: 2;
  }
  &[data-engrid-visible-frequency="1"] {
    --recurring-frequency__button_count: 1;
  }

  // --donation-amount__button_count: 4;
  --give-by-select__button_count: 3;
  --give-by-select__button_background-color: #f5f5f5;
  --give-by-select__button_border-color: var(--color_dark-gray);
  --give-by-select__button_color: var(--color_dark-gray);
  --give-by-select__button_font-size: 1rem;
  --give-by-select__button_font-weight: 700;

  // Exit Intent
  --exit-intent__container_box-shadow: 0 2px 4px #06734e;
  --exit-intent__container_outline: 5px solid #06734e;
  --exit-intent__button_font-size: 1.3rem;
  --exit-intent__button_padding: var(--button_padding);
  --exit-intent__button_padding-bottom: var(--submit__button_padding-bottom);
  --exit-intent__button_padding-top: var(--submit__button_padding-top);
  --exit-intent__button_background-color: var(
    --submit__button_background-color
  );
  --exit-intent__button_color: var(--submit__button_color);
  --exit-intent__button_border-radius: var(--button_border-radius);
  --exit-intent__button_border-color: var(--button_border-color);
  --exit-intent__button_border-width: var(--button_border-width);

  --radio_border-color: #545454;
  --checkbox_border-color: #545454;

  --premium__image_max-height: 100px;
  --maximize_my_donation_image: url(https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10104/premium-image.jpeg?v=1731096250000);

  --checkbox_color_checked: #ffffff;

}

/* Add your custom theme styles here */
[data-engrid-theme="npca"] {

  /* Hide NPCA unused sections */
  &#en__pagebuilder .page-alert,
  &#en__pagebuilder .content-header,
  &#en__pagebuilder .body-header,
  &#en__pagebuilder .body-banner,
  &#en__pagebuilder .body-bannerOverlay,
  &#en__pagebuilder .body-bottom,
  &#en__pagebuilder .body-footerOutside,
  &#en__pagebuilder .content-footerSpacer,
  &#en__pagebuilder .content-preFooter,
  &#en__pagebuilder .page-backgroundImageOverlay{
    display: none !important;
  }

  .content-footer {
    grid-column: bc;
    z-index: 3 !important;
  }
  &:not(#en__pagebuilder) {
    .monthly-donation-suggestion {
      margin-top: -30px;
    }
  }
  .monthly-donation-suggestion {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 999;
    width: 100%;
    text-align: center;
    padding: 0;
    p {
      position: relative;
      font-size: 16px;
      font-weight: 600;
      color: #00704a;
      font-style: italic;
      text-align: left;
      width: 90%;
      margin: 0;
    }
    &.desktop-hide {
      margin-bottom: 15px;
      p {
        text-align: center;
      }
    }
    &.mobile-hide {
      justify-content: flex-end;
      p {
        width: 300px;
        padding-right: 30px;
        &::after {
          content: url('data:image/svg+xml,<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="%2300704a"><path d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"></path></svg>');
          width: 40px;
          fill: #00704a;
          position: absolute;
          top: 0px;
          right: 10px;
          transform: rotate(90deg);
          margin-left: 8px;
          margin-bottom: -24px;
        }
        &::before {
          content: url('data:image/svg+xml,<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="%23FFFFFF"><path d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"></path></svg>');
          width: 52px;
          fill: #fff;
          position: absolute;
          top: -10px;
          right: 5px;
          transform: rotate(90deg);
          margin-left: 8px;
          margin-bottom: -24px;
        }
      }
    }
  }
  &[data-engrid-visible-frequency="3"] {
    .monthly-donation-suggestion.mobile-hide {
      p {
        padding-right: 0;
        padding-left: 30px;
        text-align: right;
        &::after {
          right: auto;
          left: -10px;
          transform: scaleX(-1) rotate(90deg);
        }
        &::before {
          right: auto;
          left: -15px;
          transform: scaleX(-1) rotate(90deg);
        }
      }
    }
  }

  // FREQUENCY STYLES
  .radio-to-buttons_recurrfreq
    .en__field--recurrfreq.en__field--radio
    .en__field__item
    input[type="radio"]
    + label {
    white-space: nowrap;
  }

  // GIVE BY SELECT STYLES
  .give-by-select {
    @media screen and (max-width: 600px) {
      --give-by-select__button_count: 1;
    }
  }
  &[data-engrid-transaction-recurring="n"] {
    .give-by-select.en__field__item:not(.hide):not(.recurring-frequency-n-hide):nth-child(even).ach {
      flex-basis: 100%;
    }
  }
  &[data-engrid-transaction-recurring="y"] {
    .give-by-select.en__field__item:not(.hide):not(.recurring-frequency-y-hide):nth-child(even).ach {
      flex-basis: 100%;
    }
  }
  &[data-engrid-payment-type-option-apple-pay="false"][data-engrid-payment-type-option-google-pay="false"][data-engrid-transaction-recurring="n"] {
    .give-by-select.en__field__item:not(.hide):nth-child(even).ach {
      flex-basis: 50%;
    }
  }

  .give-by-select .en__field__element--radio {
    align-items: stretch;
  }

  .give-by-select input[type="radio"] + label {
    padding: 12px 22px;
    height: 65px;
    max-height: 65px;
  }

  .give-by-select .en__field__label img {
    width: auto;
    height: auto;
    max-height: 70%;
    &.paypal-venmo {
      max-height: 50%;
    }
  }

  .give-by-select .venmo label > img:last-of-type {
    height: 20px;
    margin-top: 5px;
  }

  // Transaction fee custom styling with tooltip
  .transaction-fee-opt-in {
    --checkbox_background-color: var(--engrid__body_background-color);
    --checkbox_background-color_hover: var(--engrid__body_background-color);
    --checkbox_background-color_checked: #045237;
    --checkbox_font-weight: 700;
    --checkbox_font-size: 16px;
    --checkbox_line-height: 1.3;

    // max-width: 450px;
    width: 100%;
    justify-self: center;
    margin-top: 10px;

    .en__field__element--checkbox {
      flex-wrap: nowrap;
      gap: 1rem;
    }

    .transaction-fee-tooltip {
      border-radius: 50%;
      border: 2px solid #000;
      height: 26px;
      width: 26px;
      text-align: center;
      cursor: pointer;
      font-weight: 400;
      flex: 0 0 auto;
      font-size: 16px;
    }

    .en__field__input--checkbox:focus + .en__field__label {
      outline: none;
    }

    .en__field__item{
      padding: 0 !important;
    }
  }

  .tippy-box[data-theme~="white"] {
    background-color: #f5f5f5;
    color: #000;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    max-width: 300px !important;
    border-radius: 0;
    border: 2px solid #7f7266;

    .tippy-content {
      padding: 0;
    }

    .custom-tooltip-arrow {
      background: #f5f5f5;
      border-bottom: 2px solid #7f7266;
      border-right: 2px solid #7f7266;
      height: 20px;
      width: 20px;
    }

    &[data-placement="top"] {
      .tippy-svg-arrow {
        bottom: -10px;
      }
      .custom-tooltip-arrow {
        transform: rotate(45deg) translateY(2px);
      }
    }

    &[data-placement="bottom"] {
      .tippy-svg-arrow {
        top: -10px;
      }
      .custom-tooltip-arrow {
        transform: rotate(-135deg) translateY(2px);
      }
    }
  }
  /* OTHER AMOUNT FIELD */
  .radio-to-buttons_donationAmt
    .en__field--donationAmt
    .en__field__item.en__field__item--other {
    position: relative;

    input:focus {
      outline: none;
    }

    &:before {
      content: attr(data-currency-symbol);
      position: absolute;
      left: 20px;
      top: 46%;
      line-height: 0;
      font-size: 1em;
    }

    input {
      padding-left: 30px;
      line-height: var(--donation-amount__button_line-height);
    }
  }
  .en__field--withOther--active .en__field__item--other:before {
    color: #fff;
  }
  // PREMIUM STYLES
  .en__component--premiumgiftblock {
    --h2_font-size: 22px;

    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 0;

    // [data-engrid-premium-gift-maximize="true"]
    .en__pgList {
      --h2_font-size: 20px;
      --h2_font-weight: 400;
      @media screen and (max-width: 600px) {
        --h2_font-size: 18px;
      }
    }

    .en__pgList {
      margin-bottom: 0.75rem;
    }

    .en__pg__display,
    .en__pg__images {
      border-radius: var(--button_border-radius);
      overflow: hidden;
      min-height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin: 0;
        mix-blend-mode: multiply;
      }
    }

    .en__pg__name {
      margin-bottom: 0px;
    }

    .en__pg__description {
      --p_font-size: 16px;
      --p_line-height: 1.4;
      max-width: 238px;
    }

    // Styles the Maximize my gift option
    // @TODO: See if there is a way to apply this only when there is a maximize my gift option.
    [data-nogift] .en__pg:last-child .en__pg__description {
      font-size: 20px;
      line-height: 1.4;
      font-weight: var(--h2_font-weight);

      &:after {
        font-size: 16px;
        line-height: 1.4;
      }
      @media screen and (max-width: 600px) {
        font-size: 18px;
      }
    }
  }
  .en__pgList {
    --radio_height: 20px;
    --radio_width: 20px;
    --radio_box-shadow_selected: inset 0 0 0 3px #ffffff;
    --radio_border-width: 1px;

    // When the no gift option is present, move it from the last premium option to being the first premium option
    &[data-nogift] {
      display: grid;

      .en__pg:last-child {
        grid-row: 1 / 2;

        .en__pg__display {
          background-image: var(--maximize_my_donation_image);
          // background-image: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10114/donation-gift_maximize-my-gift-placeholder.jpg?v=1680364148000");
          background-size: contain;
          // min-width: 100%; // Causing this overlay issue on Safari https://cln.sh/mGf3gcGc
          background-position: center;
          background-repeat: no-repeat;
          background-color: #3e3938;
          border-radius: var(--button_border-radius);

          @media screen and (max-width: 628px) {
            background-position: left center;
          }
        }
      }
    }
    .en__pg {
      border: var(--donation-amount__button_border-width) solid transparent;
      overflow: hidden;
      &:hover {
        --premium__item_background-color: var(
          --give-by-select__button_background-color
        );
      }
    }

    .en__pg--selected {
      --premium__item_background-color: var(
        --give-by-select__button_background-color
      );
      border: var(--donation-amount__button_border-width) solid
        var(--donation-amount__button_border-color);
      border-radius: var(--donation-amount__button_border-radius);
    }

    .en__pg__body {
      grid-template-areas: "en__pg__select en__pg__display en__pg__detail" ". en__pg__detail-mobile .";
      grid-template-columns: min-content var(--premium__image_max-width) auto;
      gap: 0 max(calc(var(--fields_spacing-inline) * 2), 0.5rem);
      padding: calc(var(--fields_spacing-block))
        calc(var(--fields_spacing-inline) * 2);
      .en__pg__select {
        display: none;
      }
      .en__pg__image:hover {
        transform: none;
        margin: 0 !important;
        position: relative;
      }
    }

    // Move premium images on mobile
    @media screen and (max-width: $centercenter1col_body-column_max-width) {
      .en__pg__description {
        --p_font-size: 12px;
        --p_line-height: 18px;
      }
      .en__pg__display {
        grid-area: en__pg__display;

        .en__pg__images img {
          min-width: auto;
        }
      }

      // Hide unselected premium images on mobile
      .en__pg {
        .en__pg__body {
          padding: 5px;
          --premium__image_max-width: 65px;
          grid-template-columns: min-content var(--premium__image_max-width) auto;
        }
      }
    }

    .en__pg__detail {
      margin-bottom: 4px;
    }

    .en__pg__optionType select {
      --select_padding: 1.2ch 1.6ch;
      --select_font-size: 16px;
      --select_line-height: 24px;
      margin-top: calc(var(--fields_spacing-inline) * 0.5);
    }
  }

  input[type=checkbox]+label:before{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  }

  input[type=checkbox]:focus+label:before,
  input[type=checkbox]:hover+label:before{
    background-color: #fafafa;
    color: #ababab;
    content: var(--checkbox_content_checked);
  }

  input.en__field__input:checked + label:before{
    background-color: #045237;
    color: #ffffff;
  }

  @media screen and (min-width: 880px) {
    &:not(#en__pagebuilder)[data-engrid-layout="leftleft1col"] {
      .page-backgroundImage {
        grid-column: rpc/pc;

        &:before,
        figure.media-with-attribution {
          left: $one_col_body-column_max-width;
          right: 0;
          width: calc(100% - $one_col_body-column_max-width);
          background-position: center !important;
        }
      }
    }
  }

  @media screen and (max-width: 879px) {
    &:not(#en__pagebuilder) .click-to-expand .click-to-expand-text-wrapper>:first-child{
      margin-block-start: 1em;
    }
  }

  --click-to-expand__copy-area_height: 193px;
  --click-to-expand__cta-image_height: 22px;
  --click-to-expand__cta-image_width: 100%;

  &:not(#en__pagebuilder) .click-to-expand:not(.expanded) {
    margin-bottom: 1em;

    .click-to-expand-cta {
      background: none !important;
      right: auto !important;
      padding-bottom: 1em;
      // width: 100% !important;
      // height: 20px !important;

      &:before {
        content: var(--click-to-expand__cta-image_url);
        position: absolute;
        transform: rotate(-90deg);
        left: 3px;
      }

      &:after {
        content: "Read More";
        position: relative;
        left: 20px;
        font-weight: bold;
        top: 2px;
      }
    }

    .click-to-expand-text-wrapper {
      mask-image: linear-gradient(
        to bottom,
        #000 50%,
        #fff0 calc(100% - var(--click-to-expand__cta-image_height) - 13px)
      );
    }
  }

  .click-to-expand.expanded .click-to-expand-text-wrapper > *:last-child {
    margin-bottom: 0;
  }

  @mixin until-mobile-l {
    // STYLES
    .en__component--premiumgiftblock .en__pg__description {
      max-width: 100%;
    }
    &:not(#en__pagebuilder) {
      .mobile-hide {
        display: none !important;
      }
      .monthly-donation-suggestion {
        margin-top: -5px;
      }
    }

    &[data-engrid-visible-frequency="3"] {
      --recurring-frequency__button_count: 1;
    }
    --h1_font-size: 2rem;
  }

  @mixin from-mobile-l {
    // STYLES
    &:not(#en__pagebuilder) {
      .desktop-hide {
        display: none !important;
      }
    }
  }

  @mixin simplified-header {
    // STLES
  }

  // Example Breakpoints Stylings (See engrid-scripts > _engrid-breakpoints.scss for more breakpoints)
  &[data-engrid-layout] {
    @media (max-width: 530px) {
      @include until-mobile-l;
    }

    @media (min-width: 531px) {
      @include from-mobile-l;
    }
  }

  // Example of Shared Layout Stylings
  &[data-engrid-layout="centerleft1col"] {
    @media screen and (max-width: $centerleft1col_content-column_min-width) {
      @include simplified-header;
    }
  }

  &[data-engrid-layout="centerright1col"] {
    @media screen and (max-width: $centerright1col_content-column_min-width) {
      @include simplified-header;
    }
  }
  #en__pagebuilder,
  &[data-engrid-debug],
  #en__pagebuilder {
    .mobile-hide,
    .desktop-hide {
      background-color: #0000ff1a !important;
    }
  }
}
